html {
  box-sizing: border-box;
}


body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.header {
  background: #F6F6F9;
   padding: 47px 0;
}

.header-inner {
 display: block;

}

.header-inner-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 45px;

}

.top-blok1 {
  display: flex;

  }

  .top-blok1 a {
    margin-right: 18px;
  }

.top-cours {
  display: flex;
  margin-right: 90px;
}

.top-cours .top-cours-nomber {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  margin-right: 15px;
  color: gray;
}

.top-cours .top-valuta {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #285193;
  margin-right: 5px;
}

.top-blok2 {
  display: flex;
  margin-right: 52px;

}

.top-blok2 input {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #CCCCCC;
  background: #FFFFFF;
  border-radius: 5px;
  padding: 14px 15px;
  text-align: center;
  margin-right: 15px;
  border: none;
}

.top-blok2 img {
  background: #FFFFFF;
  border-radius: 5px;
  padding: 10px 15px;
}

.top-blok3 {
  display: flex;
}

.top-blok3 p {
  display: flex;
  align-items: center;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #535353;
  background: #FFFFFF;
  border-radius: 5px;
  padding: 8px 15px;
  text-align: center;
  margin-right: 20px;
}

.top-blok3 p::before {
  content: url("../img/flag.png");
  padding-right: 5px;
}

.top-blok3 a {
  display: flex;
  align-items: center;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  background: linear-gradient(90deg, #1E96C8 15.07%, #37AEE2 85.96%);
  border-radius: 5px;
  padding: 8px 15px;
  transition: all ease 0.5s;
}

.top-blok3 a::before {
  content: url("../img/coursor.svg");
  padding-right: 5px;
}

.top-blok3 a:hover {
  color: black;
  background: chartreuse;
}

.top-blok3 a:active {
  color: black;
  background: chartreuse;
}

.header-inner-mid .mid-list{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 23px;
  color: #515151;
  background: #FFFFFF;
  box-shadow: 0px 2px 5px rgba(159, 159, 159, 0.19);
  border-radius: 5px;
  transition: all ease 0.5s;
  margin-bottom: 20px;
}

.header-inner-mid .mid-list:hover {
  color: black;
  background: chartreuse;
}

.header-inner-mid .mid-list:active {
  color: black;
  background: chartreuse;
}

.header-inner-botton {
  margin-bottom: 25px;
}


.main {

}
.main-inner {
  padding: 35px 0;
  display: flex;
  justify-content: space-between;
  margin-top: ;
}

.main-inner h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin-bottom: 15px;
}

.main-inner .main-left form input{
  display: block;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color:black;
  background: #F1F1F1;
  opacity: 0.3;
  border: 1px solid #285193;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 15px;
  width: 550px;
  height: 50px;
}

.main-inner .main-left form input::placeholder {
  color:black;
}

.main-inner .main-left form textarea {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #888888;
  background: #F1F1F1;
  opacity: 0.3;
  border: 1px solid #285193;
  box-sizing: border-box;
  border-radius: 5px;
  padding-top: 15px;
  margin-bottom: 20px;
  width: 550px;
  height: 280px;
  resize: none;
   }

   .main-inner .main-left form .kod1 {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #888888;
    width: 221px;
    height: 50px;
    opacity: 0.3;
    border: 1px solid #285193;
    box-sizing: border-box;
    border-radius: 5px;
   }

   .main-inner .main-left form .kod1::placeholder {
    color: #888888;
   }

   .main-inner .main-left form .kod1::after {
     content: url("../img/Frame.png");
     /* border: 1px solid #9C9C9C; */
   }

   .main-inner .main-left form .kod2 {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #888888;
    width: 221px;
    height: 50px;
    opacity: 0.3;
    border: 1px solid #285193;
    box-sizing: border-box;
    border-radius: 5px;
   }

   .main-inner .main-left form .kod2::placeholder {
    color: #888888;
   }

   button[type=submit] {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    background: #295093;
    border: 2px solid rgba(40, 81, 147, 0.54);
    box-sizing: border-box;
    border-radius: 5px;
    padding: 10px 35px;
    transition: all ease 0.5s;
    width: 221px;
    height: 50px;
       }

   button:hover {
     color: black;
     background: #FF9900;
   }

   button:active {
    color: black;
    background: #FF9900;
  }





  .main-right {
    background: #FFFFFF;
    border: 2px solid #BCC3CD;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0px 8px 9px rgba(57, 57, 57, 0.25);
    border-radius: 5px;
    width: 550px;
    height: 300px;
    margin-top: 42px;
    padding: 25px;
    margin-bottom: 25px;
  }

   .main-right .main-right-inner {
    display: block;

   }

   .main-right .logo {
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    color: #295091;
    padding-left: 189px;

   }

   .main-right-inner-box2 {
     display: flex;
     justify-content: space-between;
     margin-bottom: 25px;
     margin-top: 25px;
   }

   .main-right-inner-box2 a {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #888888;
   }

   .main-right-inner-box3
   {
     display: flex;
     justify-content: space-between;
     margin-bottom: 20px;
   }

   .main-right-inner-box3 .inner-box3-div1 {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #888888;
   }

   .main-right-inner-box4 {
     display: flex;
     justify-content: space-between;
     margin-bottom: 25px;
   }

   .main-right-inner-box4 .inner-box4-div1 { font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #888888;
   }

   .main-right-inner-box4 .inner-box4-div2 a {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    background: #295091;
    border-radius: 5px;
    padding: 10px 15px;
    transition: all ease 0.5s;

   }

   .main-right-inner-box4 .inner-box4-div2 a::before {
    content: url("../img/coursor.svg");
    padding-right: 5px;

  }

  .main-right-inner-box4 .inner-box4-div2 a:hover {
    color: black;
    background: chartreuse;
  }

  .main-right-inner-box4 .inner-box4-div2 a:active {
    color: black;
    background: chartreuse;
  }

  .main-right-inner-box5 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;

  }

  .main-right-inner-box5 .inner-box5-div-1 a {  font-style: normal;
     font-weight: normal;
     font-size: 18px;
     line-height: 21px;
     color: #888888;
     }

     .main-right-inner-box5 .inner-box5-div-2 a {
      
     }








      .footer {
    background: #295093;
    padding: 30px 100px;
    padding-top: 30px;

   }

   .footer .footer-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-bottom: 2px solid#133C82;
    padding-bottom: 20px;

   }

   .footer-left {
     align-items: center;
     text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    background: #133C82;
    border-radius: 5px;
    padding: 10px 10px;
   }


   .footer-left:hover {
     color: black;
   }

   .footer-left:active {
     color: blueviolet;
   }

   .footer-right {
     display: flex;
     align-items: center;
   }

   .footer-right p {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      color: #FFFFFF;
   }

   .footer .footer-inner .footer-right a {
     display: flex;
     justify-content: space-between;
     text-align: center;
     font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #295093;
    background: #FFFFFF;
    border-radius: 5px;
    padding: 10px 10px;
    align-items: center;
    margin-left: 15px;
    transition: all ease 0.5s;
   }

   .footer .footer-inner .footer-right a:hover {
     color: black;
     background: chartreuse;
   }

   .footer .footer-inner .footer-right a:active {
    color: black;
    background: chartreuse;
  }

   .footer .footer-inner .footer-right a  .link {font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #295093;
    margin-left: 5px;

   }

  .footer .footer-right{
    display: flex;
    align-items: center;
  }

   .footer-box {
      display: flex;
      justify-content: space-between;
      padding-top: 20px;
   }
   .footer-box .footer-start {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      color: #FFFFFF;
      width: 365px;
      margin-right: 130px;
   }

   .footer-box .footer-mid .footer-box-link{
      display: block;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 30px;
      color: #FFFFFF;
      margin-right: 130px;
   }

   .footer-box .footer-mid .footer-box-link:hover {
   color: crimson;
   }

   .footer-box .footer-mid .footer-box-link:active {
     color: black;
   }

   .footer-box .footer-end .footer-end-link {
      display: block;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 30px;
      color: #FFFFFF;
   }

   .footer-box .footer-end .footer-end-link:hover {
      color: crimson;
   }

   .footer-box .footer-end .footer-end-link:active {
      color: black;
   }
